$background: #192d49;
$highlight: #c67c3f;

$black: #2b2927;
$white: #fcf9f7;

/* Breakpoints */
$sm: 660px;
$md: 960px;
$lg: 1200px;
$xl: 1600px;

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// Small devices
@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}

// Global styles
p {
  font-size: rem(16px);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
}
