@import "../globals/variables.scss";

.list {
  list-style: none;
  margin: 0;
}

.article + .article {
  margin-top: rem(40px);
}

.excerpt {
  font-size: rem(12px);
  margin: 0;
  max-width: 50ch;

  @include sm {
    font-size: rem(14px);
  }

  @include md {
    font-size: rem(16px);
  }
}

.date {
  font-size: rem(12px);

  @include md {
    font-size: rem(14px);
  }
}

.articleHeader {
  margin-bottom: rem(10px);
}

.articleTitle {
  @include sm {
    font-size: rem(24px);
  }

  @include lg {
    font-size: rem(28px);
  }
}
