@import "../../globals/variables.scss";

.heading {
  font-size: rem(28px);
  margin: 0 0 rem(10px) 0;

  @include sm {
    font-size: rem(36px);
  }

  @include md {
    font-size: rem(50px);
  }
}

.header {
  color: $white;
}

.headerContent {
  padding: rem(20px);
  max-width: rem(1200px);
  margin: 0 auto;

  @include sm {
    padding: rem(40px) rem(20px);
  }

  @include lg {
    padding: rem(80px) rem(20px) rem(60px) rem(20px);
  }
}
