@import "../globals/variables.scss";

body {
  color: $black;
  background-color: $background;
  min-height: 100vh;
}

a {
  color: $highlight;
}

.header {
  color: $white;
}

.headerContent {
  padding: rem(20px);
  max-width: rem(1200px);
  margin: 0 auto;

  @include sm {
    padding: rem(40px) rem(20px);
  }

  @include lg {
    padding: rem(80px) rem(20px) rem(60px) rem(20px);
  }
}

.main {
  background-color: $white;
  padding: rem(20px);

  @include sm {
    padding: rem(40px);
  }

  @include md {
    box-shadow: rem(2px) rem(5px) rem(20px) rgba(0, 0, 0, 0.3);
  }

  @include lg {
    padding: rem(60px);
  }
}

.wrapper {
  max-width: rem(960px);
  margin: 0 auto;

  @include sm {
    padding: rem(20px);
  }

  @include md {
    padding: 0 rem(60px) rem(60px);
    margin: rem(-60px) auto 0 auto;
    position: relative;
  }
}

.heading {
  font-size: rem(28px);
  margin: 0 0 rem(10px) 0;

  @include sm {
    font-size: rem(36px);
  }

  @include md {
    font-size: rem(50px);
  }
}

.footer {
  font-size: rem(14px);
  background-color: darken($background, 10%);
  color: lighten($background, 15%);
  padding: rem(20px);

  @include lg {
    margin-top: rem(60px);
  }
}
